<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>about us</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--crossorigin="anonymous">-->
<!--  <link rel="stylesheet" href="/static/css/about.css" />-->
<!--</head>-->
<!--<body>-->
<!-- &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Navbar start &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--        <a class="navbar-brand" href="#">TexttoHtml</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--        data-target="#navbarSupportedContent"-->
<!--        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="{% url 'home' %}">Home </a>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="{% url 'about-us' %}">About </a>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="{% url 'post' %}">Posts</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        </nav>-->
<!--    &lt;!&ndash; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Navbar Ends&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--   <section class="articles">-->
<!--&lt;!&ndash;       <h2>About Desi</h2>&ndash;&gt;-->
<!--      <article>-->
<!--        <div class="article-wrapper ">-->
<!--          <figure >-->
<!--            <img src="/static/images/user.png" alt="" width="100%" height="40%"/>-->
<!--          </figure>-->
<!--          <div class="article-body">-->
<!--            <h2>Nivedita</h2>-->
<!--            <p>-->
<!--            Nivedita Jader, a diligent MCA student at Gogte Institute of Technology, is passionate about coding. With a keen interest in technology, she seeks to excel in software development, applying her skills and knowledge to innovative projects with enthusiasm and dedication.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article>-->
<!--        <div class="article-wrapper">-->
<!--          <figure class="justify-content-center">-->
<!--            <img src="/static/images/man.png" alt="img not loaded" width="200px" height="250px"/>-->
<!--          </figure>-->
<!--          <div class="article-body">-->
<!--            <h2>Shivani Nair</h2>-->
<!--            <p>-->
<!--             Shivani Nair, a diligent MCA student at Gogte Institute of Technology, passionate about coding and mastering computer applications. Committed to continuous learning and innovation in the realm of technology, striving to make a positive impact through programming prowess.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </article>-->
<!--      <article>-->
<!--        <div class="article-wrapper">-->
<!--          <figure>-->
<!--            <img src="/static/images/man.png" alt=""  width="100%" height="30% "/>-->
<!--          </figure>-->
<!--          <div class="article-body">-->
<!--            <h2>Nishant Totar</h2>-->
<!--            <p>-->
<!--             Nishant Totar, a dedicated MCA student at Gogte Institute of Technology, is passionate about coding. With a fervent interest in technology, he thrives on challenging coding tasks and continuously seeks to expand his knowledge and skills in the field.-->
<!--            </p>-->

<!--          </div>-->
<!--        </div>-->
<!--      </article>-->
<!--    </section>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/about.css" />
</head>
<body>
 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TexttoHtml</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about-us' %}">About </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post' %}">Posts</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar Ends -->
   <section class="articles">
      <article>
        <div class="article-wrapper">
          <figure class="text-center"> <!-- Align image at the center -->
            <img src="/static/images/girl.png" alt="" width="250px" height="250px"/>
          </figure>
          <div class="article-body  ">
            <h2 >Nivedita Jadar</h2>
            <p>
            Nivedita Jader, a diligent MCA student at Gogte Institute of Technology, is passionate about coding. With a keen interest in technology, she seeks to excel in software development, applying her skills and knowledge to innovative projects with enthusiasm and dedication.
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure class="text-center"> <!-- Align image at the center -->
            <img src="/static/images/g2.png" alt="img not loaded" width="250px" height="250px"/>
          </figure>
          <div class="article-body">
            <h2>Shivani Nair</h2>
            <p>
             Shivani Nair, a diligent MCA student at Gogte Institute of Technology, passionate about coding and mastering computer applications. Committed to continuous learning and innovation in the realm of technology, striving to make a positive impact through programming prowess.
            </p>
          </div>
        </div>
      </article>
      <article>
        <div class="article-wrapper">
          <figure class="text-center"> <!-- Align image at the center -->
            <img src="/static/images/man.png" alt="" width="200px" height="250px"/>
          </figure>
          <div class="article-body">
            <h2>Nishant Totar</h2>
            <p>
             Nishant Totar, a dedicated MCA student at Gogte Institute of Technology, is passionate about coding. With a fervent interest in technology, he thrives on challenging coding tasks and continuously seeks to expand his knowledge and skills in the field.
            </p>

          </div>
        </div>
      </article>
    </section>
</body>
</html>
